<div id="delete">
  <form id="form" (ngSubmit)="DeleteTask(id)">

    <h1>Delete a task from the list</h1>
    <div id="labels">
      <div class="label">
        <label>Pass the id of the task you wish to delete: </label>
        <input type="number" id="id" name="id" placeholder="1" [(ngModel)]="id"/>
      </div>
    </div>

    <div id="buttons">
      <button type="submit" id="confirm">Confirm</button>
      <button type="button" id="back" (click)="GoBack()">Back</button>
    </div>

  </form>
</div>
