<div id="add">
  <form id="form" (ngSubmit)="SubmitForm()">

    <h1>Add a new task to the list</h1>
    <div id="labels">
      <div class="label">
        <label>Name the task: </label>
        <input type="text" id="name" name="name" placeholder="Your name" maxlength="30" [(ngModel)]="name"/>
      </div>
      <div class="label">
        <label>Give a deadline to this task: </label>
        <input type="date" id="deadline" name="deadline" [(ngModel)]="deadline"/>
      </div>
      <div class="label">
        <label for="number">Add a description to this task:</label>
        <textarea type="textarea" id="description" name="description" placeholder="Your description" [(ngModel)]="description"></textarea>
        <!--<input type="textarea" id="description" name="description" placeholder="Your description" [(ngModel)]="description">-->
      </div>
    </div>

    <div id="buttons">
      <button type="submit" id="confirm">Confirm</button>
      <button type="button" id="back" (click)="GoBack()">Back</button>
    </div>

  </form>
</div>
